* {
  margin: 0;
  padding: 0;
  border: 0;
  @include prefixer(box-sizing, border-box, webkit moz o ms);
}

html,
body {
  font-size: $basic-fz;
  font-family: $main-ff, "helvetica", "times new roman", serif;
  background-color: $light-cl;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
